body { 
    background: rgb(71, 68, 68);
    color: white;
  }
  .tudo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
  }
  ul { 
    display: flex; 
    list-style:none; 
    font-size: 400%; 
    font-weight: 800; 
    padding: 0; 
    margin: 0;
    flex-direction: column; 
    flex-wrap: nowrap; 
    border: solid black;
    border-width: 0 5px;
    min-width: 150px;
    }
  li { 
    width: 50%;
    text-align: center;  
  }
  b {
    font-size: 500%;
    line-height: 2;
    margin: 0 2%;
   }

  h1 {
    margin: 0;
  }
  #a {
    display: inline-block;
    background: red;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 130%;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
  }
  